# Core Framework & UI
streamlit>=1.38.0
python-dotenv

# LlamaIndex & Connecteurs Mistral
llama-index
llama-index-llms-mistralai
llama-index-embeddings-mistralai
mistralai>=1.0.0

# Traitement de documents
PyPDF2
python-pptx

# Multimédia (Audio)
gTTS
mistralai==1.2.5
llama-index-llms-mistralai==0.3.1
llama-index-embeddings-mistralai==0.2.0
