# Core Framework & UI
streamlit>=1.38.0
python-dotenv

# LlamaIndex & Connecteurs Mistral (Le moteur de ton RAG)
llama-index
llama-index-llms-mistralai
llama-index-embeddings-mistralai
mistralai>=0.4.2

# Traitement de documents
PyPDF2
python-pptx

# Multimédia (Audio)
gTTS
